<section id="exp">
  <div id="exp-head">
    <h1>Experiences</h1>
    <p>
      I'm still young but I have completed well many missions.
      You can see here the company I worked for.
      I could improve my skills through those company and I say thank you for all of them to have made me better and better.
    </p>
  </div>

  <div class="my-container">
    <div>
      <img src="../../../../assets/img/Fortil.jpg" alt="">
    </div>
    <div>
      <img src="../../../../assets/img/smals.jpg" alt="">
    </div>
    <div>
      <img src="../../../../assets/img/sopra.jpg" alt="">
    </div>
  </div>

  <div class="my-container">
    <div>
      <p>Consulting and Design Office company, FORTIL group deploys its engineering activity since 2009. Present on an international scale, the group has nearly 600 employees with a common goal, to
        grow and
        make grow.</p>
    </div>
    <div>
      <p>Smals supports and assists organizations in the social and health care sectors - and other public services on their request. I was integrated in the team of the national office of annual
        vacations.
        This institution is responsible for managing and controlling the annual vacation sector for workers and artists.</p>
    </div>
    <div>
      <p>Sopra banking offers solutions for companies in the banking sector by providing them with digital and secure applications.</p>
    </div>
  </div>

  <div class="my-container">
    <div>
      <h3>2021 - </h3>
    </div>
    <div>
      <h3>2018 - 2020</h3>
    </div>
    <div>
      <h3>2017 - 2018</h3>
    </div>
  </div>

  <div class="CV-button">
    <button>Get my CV</button>
  </div>
</section>
