<section id="exp">

  <h1>Experiences</h1>

  <div class="my-container">

    <mat-card>
      <h2>Fortil</h2>
      <h3>2021</h3>
      <div>Consulting and Design Office company, FORTIL group deploys its engineering activity since 2009. Present on an international scale, the group has nearly 600 employees with a common goal, to grow and
      make grow.</div>
    </mat-card>
    <mat-card>
      <h2>Smalls</h2>
      <h3>2018-2020</h3>
      <div>Smals supports and assists organizations in the social and health care sectors - and other public services on their request. I was integrated in the team of the national office of annual vacations.
      This institution is responsible for managing and controlling the annual vacation sector for workers and artists.</div>
    </mat-card>
    <mat-card>
      <h2>Soprabanking</h2>
      <h3>2017-2018</h3>
      <div>Sopra banking offers solutions for companies in the banking sector by providing them with digital and secure applications.</div>
    </mat-card>
  </div>
</section>
