nav {
  border: 0;
  font-size: 14px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  a {
    color: #83807c;
    &:after {
      background: #66615b;
    }
  }
}

.transparent {
  padding-top: 40px;
  box-shadow: none;
  background: transparent;
  a {
    color: #ffffff;
    &:after {
      background: #ffffff;
    }
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 999;
}

div {
  display: inline;
  vertical-align: middle;
  a {
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
  }
}

.content {
  margin-left: 10vw;
  margin-right: 10vw;
  height: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .KW {
    font-weight: bold;
    font-family: "Cinzel Decorative", cursive;
    &:hover {
      font-size: 24px;
    }
  }
}

a {
  display: inline-block;
  padding: 10px 10px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}


.active:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  width: 100%;
}
