<nav class="fixed-top transparent">
  <div class="content">
    <a class="KW" routerLink="home">KEVIN WILLOT</a>
    <div>
      <!-- routerlink? -->
      <a routerLink="exp">Experiences</a>
      <a routerLink="education">Education</a>
      <a routerLink="skills">Skills</a>
      <!-- <a routerLink="angular">Portfolio</a> -->
      <a routerLink="about">About me</a>
      <!-- routerlink? -->
      <a href="angular" class="fa fa-whatsapp"></a>
      <a href="angular" class="fa fa-linkedin"></a>
      <a href="angular" class="fa fa-github"></a>
    </div>
  </div>
</nav>
