nav {
  border: 0;
  font-size: 14px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  a {
    color: #83807c;
    &:after {
      background: #66615b;
    }
  }
}

.transparent {
  padding-top: 40px;
  box-shadow: none;
  background: transparent;
  a {
    color: #ffffff;
    &:after {
      background: #ffffff;
    }
  }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    background-color: white;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 999;
}

div {
  display: inline;
  vertical-align: middle;
  a {
    text-decoration: none;
    margin: 15px;
    font-size: 20px;
  }
}

.content {
  margin-left: 10vw;
  margin-right: 10vw;
  height: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .KW {
    font-weight: bold;
    font-family: "Cinzel Decorative", cursive;
  }
}

a {
  display: inline-block;
  padding: 10px 10px;
  position: relative;
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    .KW {
      &:hover {
        font-size: 24px;
      }
    }
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

.active:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  width: 100%;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: #83807c;
  height: 2.3px;
}

button {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}
#mynav {
  @media (max-width: 768px) {
    #navigation{
      display: none;
    }
    button{
      display: block;
    }
    
  }
}

.mobile {
  // height: 100vh;
  #navigation {
    display: flex !important;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }

  position: fixed;
  display: block !important;
  background-color: #495564;
  color: #f4f4f2;
  top: 0;
  height: 100%;
  width: 230px;
  right: 0;
  z-index: 1032;
  visibility: visible;
  overflow-y: visible;
  border-top: none;
  text-align: left;
  border-left: 1px solid #ccc5b9;
  padding-top: 15px;
}
