<section id="skills">

  <div class="my-container">

    <h1>Skills</h1>

    <p>Technologies</p>

    <ul>
      <li>Windows, Linux, Mac OS X, Android</li>
      <li>IDE: IntelliJ, Eclipse, Netbeans, Visual Studio (+ code), Visual COBOL, Android Studio</li>
      <li>UML methodology, Scrum</li>
      <li>Angular 8 (HTML, CSS, Typescript)</li>
      <li>J2EE development (Java – Springboot - JSF - JSP – Hibernate - EJB - JDBC – Junit - Mockito)</li>
      <li>XML/XSL</li>
      <li>Databases: MySQL, DB2, H2</li>
      <li>COBOL</li>
      </ul>
  </div>
</section>
