<section id="skills">

  <div id="exp-head" data-aos="fade-up" data-aos-delay="100">
    <h1>Skills</h1>
    <p>
      As I said, I like to learn and discover new technologies. You will find in this section a list of the technologies I master.
    </p>
  </div>

  <div class="my-container">
    <mat-card id="os" data-aos="fade-up" data-aos-delay="200">
      <h2>
        Operating Systems
        <span class="fa fa-laptop"></span>
      </h2>
      <p>Windows</p>
      <p>Mac OS X</p>
      <p>Linux</p>
      <p>Android</p>
    </mat-card>
    <mat-card id="ide" data-aos="fade-up" data-aos-delay="300">
      <h2>
        IDE
        <span class="fa fa-bug"></span>
      </h2>
      <div class="big">
        <div>
          <p>IntelliJ</p>
          <p>Eclipse</p>
          <p>Netbeans</p>
        </div>
        <div>
          <p>Visual Studio (+ code)</p>
          <p>Visual COBOL</p>
          <p>Android Studio</p>
        </div>
      </div>
    </mat-card>
    <mat-card id="method" data-aos="fade-up" data-aos-delay="400">
      <h2>
        Methodology
        <span class="fa fa-sitemap"></span>
      </h2>
      <p>UML</p>
      <p>Scrum</p>
    </mat-card>
    <mat-card id="front" data-aos="fade-up" data-aos-delay="500">
      <h2>
        Front-end
        <span class="fa fa-html5"></span>
      </h2>
      <p>Angular 8</p>
      <p>HTML</p>
      <p>CSS</p>
      <p>Javascript</p>
      <p>Typescript</p>
    </mat-card>
  </div>
  <div class="my-container">
    <mat-card id="java" data-aos="fade-up" data-aos-delay="200">
      <h2>
        J2EE
        <span class="fa fa-terminal"></span>
      </h2>
      <div class="big">
        <div>
          <p>Java</p>
          <p>Springboot</p>
          <p>JSF</p>
          <p>JSP</p>
          <p>Hibernate</p>
        </div>
        <div>
          <p>EJB </p>
          <p>JDBC</p>
          <p>Junit</p>
          <p>Mockito</p>
        </div>
      </div>
    </mat-card>
    <mat-card id="api" data-aos="fade-up" data-aos-delay="300">
      <h2>
        API
        <span class="fa fa-code"></span>
      </h2>
      <p>JSON</p>
      <p>XML</p>
      <p>XSL</p>
    </mat-card>
    <mat-card id="db" data-aos="fade-up" data-aos-delay="400">
      <h2>
        Databases
        <span class="fa fa-database"></span>
      </h2>
      <p>MySQL</p>
      <p>SqlServer</p>
      <p>DB2</p>
      <p>H2</p>
    </mat-card>
    <mat-card id="other" data-aos="fade-up" data-aos-delay="500">
      <h2>
        Other
        <span class="fa fa-server"></span>
      </h2>
      <p>COBOL</p>
    </mat-card>
  </div>
</section>
