<section id="skills">

  <div id="exp-head">
    <h1>Skills</h1>
    <p>
      As I said, I pke to learn and discover new technologies. You will find in this section a pst of the technologies I master.
    </p>
  </div>

  <div class="my-container">
    <mat-card>
      <h2>Operating Systems</h2>
      <p>Windows, Linux, Mac OS X, Android</p>
    </mat-card>
    <mat-card>
      <h2>IDE</h2>
      <p>IntelpJ, Ecppse, Netbeans, Visual Studio (+ code), Visual COBOL, Android Studio</p>
    </mat-card>
    <mat-card>
      <h2>Methodology</h2>
      <p>UML methodology, Scrum</p>
    </mat-card>
    <mat-card>
      <h2>Front-end</h2>
      <p>Angular 8 (HTML, CSS, Typescript)</p>
    </mat-card>
  </div>
  <div class="my-container">
    <mat-card>
      <h2>Back-end</h2>
      <p>J2EE development (Java – Springboot - JSF - JSP – Hibernate - EJB - JDBC – Junit - Mockito)</p>
    </mat-card>
    <mat-card>
      <h2>API</h2>
      <p>JSON - XML/XSL</p>
    </mat-card>
    <mat-card>
      <h2>Databases</h2>
      <p>MySQL, DB2, H2</p>
    </mat-card>
    <mat-card>
      <h2>Other</h2>
      <p>COBOL</p>
    </mat-card>
  </div>
</section>
