<nav class="fixed-top transparent">
  <div class="content">
    <a class="KW" routerLink="home">KEVIN WILLOT</a>
    <div>
      <!-- <a routerLink="home">Home</a> -->
      <a routerLink="angular">Experiences</a>
      <a routerLink="angular">Education</a>
      <a routerLink="angular">Skills</a>
      <a routerLink="angular">Portofolio</a>
      <a routerLink="angular">About me</a>
      <a routerLink="angular" class="fa fa-whatsapp"></a>
      <a routerLink="angular" class="fa fa-linkedin"></a>
      <a routerLink="angular" class="fa fa-github"></a>
    </div>
  </div>
</nav>
