<ngb-carousel>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[0]" alt="Random first slide">
      <!-- <div id="home">
        <h1 class="line-1 anim-typewriter">Hi, I'm Kevin Willot</h1>
      </div> -->
    </div>
    <div class="carousel-caption">
      <h3>Hi, I'm Kevin Willot</h3>
      <p> Welcome on my website </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Hi, I'm an IT Consulant</h3>
      <p> Welcome on my website </p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Hi, I'm an analyst-developer</h3>
      <p> Welcome on my website </p>
    </div>
  </ng-template>
</ngb-carousel>
