ngb-carousel{
  height:100vh;
  overflow: hidden;
}

.carousel-caption{
  top: 42vh;
  font-weight: 200;
  h3{
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    margin: 30px 30px;
    .tw::after{
      content: " ";
      white-space: pre;
    }
  }
  p{
    font-size: 1.5em;
  }
}

