<section id="education">

  <h1>Education</h1>

  <div class="my-container">

    <mat-card>
      <h2>Henallux</h2>
      <h3>2017</h3>
      <div>
        <p>Bachelor's degree in Business Informatics with distinction</p>
        <p>Attestation of tutoring (help students in their first year)</p>
      </div>
    </mat-card>
    <mat-card>
      <h2>U2U</h2>
      <h3>2018</h3>
      <div>Angular Certified Developer.</div>
    </mat-card>
    <mat-card>
      <h2>OpenClassroom</h2>
      <h3>Online courses</h3>
      <div>
        <p>Java, Spring</p>
        <p>Html, Css, Javascript</p>
        <p>Angular, React</p>
        <p>Agile, Scrum</p>
        <p>...</p>
      </div>
    </mat-card>
  </div>
</section>
