section {
  color: white;
  background: #66615b;
  background-image: url("../../../../assets/img/cup-of-coffee-1280537_1920.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  height: 93vh;
}

#exp-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 30px 30px;
  margin-bottom: 50px;

  h1 {
    display: flex;
    justify-content: center;
    color: white;
  }

  p {
    color: white;
    width: 60%;
    font-size: 14px;
  }
}

.my-container {
  display: flex;
  justify-content: space-between;

  mat-card {
    width: 30%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #66615b;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  h3 {
    text-align: center;
    margin-right: 15px;
  }

  div {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .image{
    text-align: center;
    img {
      height: 70px;
    }
  }
}
