<section id="education">
  <div id="exp-head">
    <h1>Education</h1>
    <p>
      Since my youngest years, I have always loved new technologies.
      I have also always loved science and math and found studies that combined logic and technology.
      That's why I learned computer sciences.
    </p>
  </div>

  <div class="my-container">

    <mat-card data-aos="fade-up" data-aos-delay="100">
      <div class="image">
        <img src="../../../../assets/img/5c48a048e6dac6c66e143988a1e14265.png" alt="">
      </div>
      <h3>2017</h3>
      <div>
        <p>Bachelor's degree in Business Informatics with distinction</p>
        <p>Attestation of tutoring (help students in their first year)</p>
      </div>
    </mat-card>
    <mat-card data-aos="fade-up" data-aos-delay="200">
      <div class="image">
        <img src="../../../../assets/img/u2u-600x300px.png" alt="">
      </div>
      <h3>2018</h3>
      <div>
        <p>Angular Certified Developer.</p>
      </div>
    </mat-card>
    <mat-card data-aos="fade-up" data-aos-delay="300">
      <div class="image">
        <img src="../../../../assets/img/openclassrooms-logo-vector.png" alt="">
      </div>
      <h3>-</h3>
      <div>
        <p>Java, Spring</p>
        <p>Html, Css, Javascript</p>
        <p>Angular, React</p>
        <p>Agile, Scrum</p>
        <p>...</p>
      </div>
    </mat-card>
  </div>
</section>
