<div id="about"></div>
<div class="avatar">
  <img src="../../../assets/img/moi.jpg" alt="moi">
</div>
<h1 class="name"  data-aos="fade-up" data-aos-delay="100">Kevin Willot</h1>
<div class="description">
  <p  data-aos="fade-up" data-aos-delay="200">
    Are you looking for a young developer with some experience? Someone who is not afraid to take on challenges?
  </p>
  <p  data-aos="fade-up" data-aos-delay="300">
    Then call me at +32 490 19 28 51 or send me an e-mail at kevin.willot.nawezi@gmail.com.
  </p>
  <p  data-aos="fade-up" data-aos-delay="400">
    Holder of a bachelor's degree in business informatics, I was able to acquire during my studies and my previous jobs, multiple skills in line with the abilities sought in a developer.
  </p>
  <p  data-aos="fade-up" data-aos-delay="500">
    Organization, listening and motivation are the key words of my professional approach.
  </p>
</div>
<div class="info"  data-aos="fade-up" data-aos-delay="100">
  <div id="number" href="angular" class="fa fa-whatsapp">     +32 490 19 28 51</div>
  <div id="mail" href="angular" class="fa fa-envelope">     kevin.willot.nawezi@gmail.com</div>
</div>
<section id="contact">
  <h1  data-aos="fade-up" data-aos-delay="100">Keep in touch?</h1>
  <!-- => angular form -->
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
<div id="form">

  <div id="name_email" >
    <div class="mb-3"  data-aos="fade-up" data-aos-delay="100">
      <label for="name" class="form-label"><span class="fa fa-user"></span>  Nom</label>
      <input type="text" class="form-control" id="name" placeholder="Jean Dupont" formControlName = "name">
      <span class="error" *ngIf="contactForm.get('name').touched && !contactForm.get('name').valid">field is required</span>
    </div>
    <div class="mb-3"  data-aos="fade-up" data-aos-delay="200">
      <label for="email" class="form-label"><span class="fa fa-envelope"></span>  Email address</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName = "email">
      <span class="error" *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched">
        please enter a valid email id
      </span>
    </div>
  </div>
  <div>
    <div class="mb-3"  data-aos="fade-up" data-aos-delay="300">
      <label for="message" class="form-label"><span class="fa fa-comment"></span>  Message</label>
      <textarea class="form-control" id="messsage" rows="3" formControlName = "message"></textarea>
      <span class="error" *ngIf="contactForm.get('message').touched && !contactForm.get('message').valid">field is required</span>
    </div>
  </div>
</div>
    <button  data-aos="fade-up" data-aos-delay="400" type="submit">Send Message</button>
  </form>
</section>
<footer id="footer">
  <p>Kevin Willot</p>
  <p>IT Consultant</p>
  <p>&copy;2021 Created by Kevin Willot, all rights reserved</p>
</footer>
<!-- <app-footer></app-footer> -->
