<div id="about"></div>
<div class="avatar">
  <img src="../../../assets/img/moi.jpg" alt="moi">
</div>
<h1 class="name">Kevin Willot</h1>
<div class="description">
  <p>
    Are you looking for a young developer with some experience? Someone who is not afraid to take on challenges?
  </p>
  <p>
    Then call me at +32 490 19 28 51 or send me an e-mail at kevin.willot.nawezi@gmail.com.
  </p>
  <p>
    Holder of a bachelor's degree in business informatics, I was able to acquire during my studies and my previous jobs, multiple skills in line with the abilities sought in a developer.
  </p>
  <p>
    Organization, listening and motivation are the key words of my professional approach.
  </p>
</div>
<div class="info">
  <div id="number" href="angular" class="fa fa-whatsapp">     +32 490 19 28 51</div>
  <div id="mail" href="angular" class="fa fa-envelope">     kevin.willot.nawezi@gmail.com</div>
</div>
<section id="contact">
  <h1>Keep in touch?</h1>
  <!-- => angular form -->
  <div id="form">

    <div id="name_email">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><span class="fa fa-user"></span>  Nom</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Jean Dupont">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label"><span class="fa fa-envelope"></span>  Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
      </div>
    </div>
    <div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><span class="fa fa-comment"></span>  Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
  </div>
  <button>Send Message</button>
</section>
<footer id="footer">
  <p>Kevin Willot</p>
  <p>IT Consultant</p>
  <p>&copy;2021 Created by Kevin Willot, all rights reserved</p>
</footer>
<!-- <app-footer [home]="false"></app-footer> -->
