
#banner{
  height: 300px;
  overflow: hidden;
  vertical-align: middle;
  background: url("../../../assets/img/laptop-336704_1920.jpg");
  background-position-x: 50%;
  background-position-y: 58%;
}

.avatar{
  text-align: center;
  position: relative;
  top: -75px;
  img{
    width: 20vh;
    border-radius:50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.name{
  font-family: 'Ubuntu';
  margin-top: -50px;
  text-align: center;
  color: #9a9a9a;
  font-weight: bold;
}

.description{
  text-align: center;
  color: #9a9a9a;
  margin: 30px 30px;
  height: 33vh;
}

#contact {
  background-color: #66615b;
  color: white;
  padding: 70px 70px 70px 70px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;

  #form {
    margin: 100px 100px;
    text-align: left;

    #name_email {
      display: flex;
      justify-content: space-between;
      div{
        width: 45%;
      }
    }

    // .example-container .mat-form-field + .mat-form-field {
    //   margin-left: 8px;
    //   height: 500px;
    // }
  }

  button {
    font-size: 19px;
    border-radius: 30px;
    color: #66615b;
    background-color: white;
    padding: 10px 10px;

    &:hover {
      background-color: #9a9a9a;
      color: white;
      //transition
    }
  }

  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    font-family: "Ubuntu", sans-serif;
  }
}
